<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.;Initial Catalog=Sales;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/Services/Orders.svc" binding="basicHttpBinding" contract="IOrders"/>
    </client>
  </system.serviceModel>
</configuration>
